.Form1 {
    margin-left: 40px;
}

.DecisionTable {
    width: 90%;
    margin: 30px 40px;
    text-align: center;
    overflow: auto;
}

.DecisionTable thead th {
    vertical-align: middle;
    font-size: 15px;
}

.DecisionTable thead th span {
    font-weight: normal;
    font-size: 12px;
}

.FormRow {
    margin : 30px 40px;
}