.RootContainer  {
    font-family: 'Source Sans Pro', sans-serif;
}

.FormLabel {
    font-weight: 600;
    font-size : 16px;
    margin-top: 30px;
}

.FormButton {
    float: right;
    margin-bottom: 30px;
}