.RootContainer  {
    font-family: 'Source Sans Pro', sans-serif;
}

.ruleParam h3 {
	color: #000;
	font-size: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}
.ruleParam .btn {
	padding: 0px 10px 2px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
    border: 0px;
    border-radius: 5px;
}
.ruleParam .btn.expression {
    background-color: #2c62f1;
}
.ruleParam .btn.conditions {
    background-color: #4e9602;
}
.ruleParam .btn.operator {
    background-color: #d18930;
}

.ruleParam .btn.constant {
    background-color: #C32626;
}
.ruleParam .btn.mathOperators {
    background-color: #6D0CB3;
}

.dropdown-menu {
    border-color: #2c62f1;
    border: 1px solid;
    border-radius: 3px;
    background-color: white;
}

.dropDownList {
    max-height : 100px;
    overflow-y: auto;
}

.dropdown-menu {
	padding: 0px
}

.dropdown-menu li {
    padding: 5px 10px;
    list-style-type: none;
	color: #1c1c1c;
    font-size: 12px;
    cursor: pointer;
}

.tableDiv .dropdown-menu li:hover {
    background-color: #33B7FF;
}

.dropdown-menu input {
	border: 0px;
	border-bottom: 1px solid #2c62f1;
	border-radius: 0px;
	font-size: 12px;
	color: #2c62f1;
	width: 100%;
    padding: 5px 10px;
}

.dropdown label {
	padding: 1px 8px 3px;
	font-size: 14px;
	font-weight: 600;
}
.tableDiv label {
	color: #2c62f1
}

.tableDiv .dropdown-menu input {
	border-color: #2c62f1;
	color: #2c62f1
}
.tableDiv .dropdown-menu {
	border-color: #2c62f1
}

.tableButton {
    cursor: pointer;
}

.tableButton.active {
	background-color: #2c62f1;
	color: #fff;
	border-radius: 4px;
}
.tableButton2 {
    cursor: pointer;
}
.tableButton2.active {
	background-color: #4e9602;
	color: #fff;
	border-radius: 4px;
}

.tableDiv2 label {
	color: #4e9602
}
.tableDiv2 .dropdown-menu input {
	border-color: #4e9602;
	color: #4e9602
}
.tableDiv2 .dropdown-menu {
	border-color: #4e9602
}

.tableDiv2 .dropdown-menu li:hover {
    background-color: #58C70D;
}

.tableButton3 {
    cursor: pointer;
}

.tableButton3.active {
	background-color: #d18930;
	color: #fff;
	border-radius: 4px;
}
.tableDiv3 .dropdown-menu input {
	border-color: #d18930;
	color: #d18930
}
.tableDiv3 .dropdown-menu {
	border-color: #d18930
}
.tableDiv3 label {
	color: #d18930
}
.tableDiv3 .dropdown-menu li:hover {
    background-color: #E69E10;
}

.tableButton4 {
    cursor: pointer;
}
.tableButton4.active {
	background-color: #C32626;
	color: #fff;
	border-radius: 4px;
}

.tableDiv4 label {
	color: #C32626
}
.tableDiv4 .dropdown-menu input {
	border-color: #C32626;
	color: #C32626
}
.tableDiv4 .dropdown-menu {
	border-color: #C32626
}

.tableDiv5 label {
	color: #6D0CB3
}
.tableDiv5 .dropdown-menu input {
	border-color: #6D0CB3;
	color: #6D0CB3
}
.tableDiv5 .dropdown-menu {
	border-color: #6D0CB3
}

.tableDiv5 .dropdown-menu li:hover {
    background-color: #AB4FEC;
}

.tableButton5 {
    cursor: pointer;
}
.tableButton5.active {
	background-color: #6D0CB3;
	color: #fff;
	border-radius: 4px;
}

.editDel {
	position: relative;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* width: 130px; */
	left: -20px;
	border-radius: 4px;
	z-index: 9999
}
.editDel span {
	font-size: 12px;
	font-weight: 600;
    color: #868686;
    cursor: pointer;
    padding-right: 8px;
	margin-right: 5px;
	border-right: 1px solid #868686
}

.editDel span:last-child {
	padding-right: 0px;
	margin-right: 0px;
	border-right: 0px;
}

.bg-light {
    min-height: 50px;
    background-color: #ededed;
	border-radius: 5px;
	padding-bottom: 20px;
}

.bg-light-new {
    min-height: 50px;
    background-color: #ededed;
	border-radius: 5px;
	padding-bottom: 15px;
}

.disabled {
	pointer-events: none;
}
.poSticky.show {
	display: inline-block!important;
	/* float: left; */
	position: relative
}
.poSticky.show > label.active{display: inline-block!important;}

.FormLabel {
    font-weight: 600;
    font-size : 16px;
    margin-top: 30px;
}

.FormLabelNew {
    font-weight: 600;
	font-size : 16px;
	margin-top: 5px;
}

.FormInput {
    width : 500px;
}

.FormTextArea {
    width : 800px;
}

.FormButton {
    margin : 20px 0px;
    float: right;
}

.expSelected {
    background-color: #D0C5F6;
	color: #fff;
	border-radius: 4px;
}