.DecisionDetails {
    width: 90%;
    margin: 40px 40px;
    text-align: center;
    overflow: auto;
}

.DecisionDetails thead th {
    vertical-align: middle;
    font-size: 15px;
}

.DecisionDetails thead th span {
    font-weight: normal;
    font-size: 12px;
}