.InputWithBottom {
    outline: 0;
    border: 0;
    margin: 15px 15px;
    border-bottom: 1px solid #eee;
    width : 300px;
}

.InputWithBottom:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgb(0, 132, 255);
}

.Invalid {
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.075)inset, 0 0 8px rgba(255, 30, 0, 0.842);
}

.RuleTitleInput {
    width : 300px;
    height: 30px;
    font-size: 14px;
    margin: 2px 15px;
}

.RuleDecisionInput {
    width : 150px;
    height: 30px;
    font-size: 14px;
    margin: 2px 15px;
}

.ConditionInput {
    width : 60px;
    height : 30px;
    font-size: 13px; 
}
.ConditionValue {
    width : 100px;
    height : 30px;
    font-size: 13px;
}

.DefaultDecision {
    width : 250px;
}

.IfElseDropDown {
    width : 150px;
}

.RuleNameInput {
    width : 500px;
}

.RuleTextArea {
    width : 800px;
}

.RuleRadio {
    margin-right: 30px;
    color: #5A3EB8;
}

.RuleCheckBox {
    margin-left: 20px;
    margin-top: 5px;
    color: #5A3EB8;
}

.DecisionType {
    max-width : 120px;
    height : 30px;
    font-size: 11px;
}

.DecisionInput {
    max-width : 150px;
    height : 30px;
    font-size: 11px;
}